@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
.Complete {
  text-decoration: line-through;
}

.Complete:before {
  content: '\2713';
  display: inline-block;
  color: green;
  padding: 2px;
  border: thin solid black;
} 
*/

.checkbox-input {
  @apply hidden;
}

.checkbox-custom {
  @apply w-4 h-4 border border-gray-300 rounded;
  margin-right: 1rem;
  position: relative;
}

.checkbox-custom::before {
  content: "";
  @apply block w-2.5 h-2.5 bg-white rounded;
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity duration-300;
}

.checkbox-input:checked ~ .checkbox-custom::before {
  @apply opacity-100;
}

.Complete p{
  @apply line-through;
}

.Complete p::before {
  content: "\2713";
  margin-right: 10px;
  background-color: rgb(234, 242, 249);
  border-radius: 5px;
  font-size: 10px;
  @apply inline-block text-blue-500 px-1 border border-blue-500;
}

.Incomplete p::before {
  content: " \00a0 \00a0 ";
  margin-left: 25px;
}

section h1 {;
padding: 5px 10px;}
section{padding: 10px;}
section > div {
  border: 2px solid black;
  border-radius: 20px;
  min-height: 70vh;
}
section li{ display: flex;
  border: thin solid grey;
  padding: 10px; 
  justify-content: space-between;
}
section li:first-of-type{
  border-top: none;
  margin-top: 10px;
}
section button{justify-self: flex-end;}

section button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 20px;
  margin-right: 10px;
}

#feedback .information{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.information p{
  padding: 5px 15px;
}

.information p:not(:first-of-type){
  border: 2px solid black;
  border-radius: 5px;
}

.comment{display:flex; justify-content: space-between;}
.comment p:first-of-type{
  width: 100px;
  padding: 10px;
}

.comment p:nth-child(2){
  width: 100%;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.feedback_button{
  display: flex;
  justify-content: right;
  padding: 10px;
}

textarea{
  height: 100%;
  width: 100%;
}

button:disabled{
  display: none;
}
select:disabled{
  -webkit-appearance: none;
}

table{
  margin: 0 auto;
  width: 500px;
}

table caption{
  font-size: 1.5rem;
  padding: 5px;
  border: thin solid black;
}

table :is(th,td){
  border: thin solid black;
  text-align: center;
  padding: 5px 15px;

}
 table td:nth-child(2){
  text-align: left;
 }
 
